.wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
   
}
.center{
    text-align: center;
   
    display: flex;
    flex-direction: column; 
    
    
}
.mainInfo{
    /* position: relative; */
    margin: 0 0 0 15px;
}
.pizzaOptions {
    display: flex;
    flex-direction: column;
    background-color: bisque;
    max-width:230px;
    margin: 0 auto;
}
.stage1{
    display: flex;
    gap: 20px;
}
.stage2{
    display: flex;
    gap: 20px;
}
.first {
  grid-area: f;
  cursor: pointer;
}
.second {
  grid-area: s;
  cursor: pointer;
}
.third{
    grid-area: third;
    cursor: pointer;
}
.t1{
    grid: fo;
    cursor: pointer;
}
.price{
    font-weight: 700;
    background-color: rgba(184, 135, 11, 0.359);
    border: 1px solid black;
    border-radius: 6px;
    padding: 5px 10px;
    
}
.t2{
    grid-area: fif;
    cursor: pointer;
}
.active{
    background-color: aliceblue;
    border: 1px solid aliceblue;
    border-radius: 6px;
    padding: 3px;
}
.img{
    max-width: 300px;
}

.wrap{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}
.btn{
    border-radius: 6px;
    background-color: darkgoldenrod;
    padding: 7px 10px;
    cursor: pointer;
}
