li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list{
    padding: 10px;
}
.list__item{
    padding-top: 10px;
    cursor: pointer;
}
.active{
    background-color: chocolate;
    font-weight: 800;
    max-width: 400px;
}